*{
  margin: 0;
  padding: 0;
}

.notFound {
  padding-top: 15%;
  text-align: center;
}

.notFound h1 {
  font-size: 130px;
}
.notFound p {
  font-size: 50px;
}

body{
  overflow-x: hidden;
  background-color: #eae7e1;
}


.banner{
  position: relative;
}

.banner img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 50px;
        
}

.banner h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translatey(-50%, -50%);
  color: #fff;
}
