.containerNav {
  /* background-color: aqua; */
  /* width: 100vh; */
  height: 60px;
  margin: 0;
  /* padding: 7px 0; */
  border-bottom: 1px solid #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userProfile{
  width: 20px;
  
}


.dropdown2 navDropdown-Item {
  padding: 2px 5px !important;
  margin: 0 !important;
}



